@charset "UTF-8";
/* ПЕРВИЧНЫЕ НАСТРОЙКИ */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@100;300;400;700;900&display=swap");
* {
  padding: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

/* ПЕРЕМЕННЫЕ */
/* МИКСИНЫ */
/* --------HEADER.РАЗДЕЛ 1.--------- */
.container {
  max-width: 1140px;
  margin: 0 auto;
}

.header {
  position: relative;
}

.header nav {
  background-color: #212121;
  width: 100%;
  height: 53px;
  position: fixed;
  z-index: 5;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  max-width: 1024px;
  height: 53px;
  padding-top: 11px;
  padding-bottom: 11px;
  width: 100%;
  margin: 0 auto;
  opacity: 1;
}

.header__menu_item {
  list-style: none;
  padding-right: 3%;
  text-align: left;
  border-right: 2px dotted black;
  opacity: 1;
}

.header__menu_item:last-child {
  border-right: none;
}

.header__menu_link {
  text-decoration: none;
  font-weight: 300;
  font-size: 15px;
  line-height: 15px;
  color: #ffffff;
  opacity: 1;
}

.header__menu_link:active {
  color: #1eacc7;
}

.header__menu_link:hover {
  color: #1eacc7;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.header__subheader {
  background: rgba(0, 0, 0, 0.6);
  mix-blend-mode: normal;
  height: 87px;
  padding: 19px;
  position: absolute;
  top: 53px;
  width: 100%;
}

.header__subheader_wrapper {
  max-width: 940px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__subheader_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 25px;
}

.header__subheader_text {
  color: #ffffff;
  opacity: 0.6;
  font-size: 13px;
}

.header__subheader_logo {
  margin-left: 0;
}

.header__subheader_call {
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
  text-align: right;
  margin-right: 18px;
}

.header__subheader_call p {
  font-weight: 100;
  font-size: 13px;
  color: #ffffff;
  margin-bottom: 12px;
}

.header__subheader_phone-number {
  display: block;
  font-size: 22px;
  color: #ffffff;
  text-align: right;
}

.header__subheader_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 172px;
  height: 46px;
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#1eacc7),
    to(#4ce2ff)
  );
  background: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
  -webkit-box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: none;
  margin: 0 auto;
}

.header__subheader_button:hover {
  background-image: none;
  background-color: #1eacc7;
}

.header__subheader_button a {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
}

.label {
  color: #ffffff;
  font-size: 11px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  width: 112px;
  height: 24px;
  background-color: #000000;
  padding: 5px 12px;
  margin: 0 auto 33px;
}

/* --------PROMO.РАЗДЕЛ 2.--------- */
.promo {
  background: url(../img/uber_bg.png) center center/cover no-repeat;
  min-height: 100%;
  text-align: center;
  padding: 230px 20px 160px;
  width: 100%;
}

.promo_content {
  max-width: 995px;
  padding: 0 10px;
  margin: 0 auto;
}

.promo_title {
  display: inline-block;
  font-family: "Roboto";
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  color: #ffffff;
  margin-bottom: 16px;
}

.promo_subtitle {
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0px;
  color: #ffffff;
}

.promo_discription {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  color: #ffffff;
  margin-bottom: 116px;
}

.promo_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 172px;
  height: 46px;
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#1eacc7),
    to(#4ce2ff)
  );
  background: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
  -webkit-box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: none;
  margin: 0 auto;
}

.promo_button:hover {
  background-image: none;
  background-color: #1eacc7;
}

.promo_button a {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
}

/* --------REASONS.РАЗДЕЛ 3.--------- */
.reasons {
  margin: 0 auto;
  padding: 56px 0 61px 0;
}

.reasons_title {
  font-size: 38px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.reasons_wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-column-gap: 20px;
  column-gap: 20px;
  padding: 0 38px 0 38px;
}

.reasons__item {
  max-width: 512px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reasons__item_image {
  content: "";
  border-radius: 50%;
  min-width: 116px;
  height: 116px;
  background-color: #1eacc7;
  position: relative;
  margin-right: 25px;
  z-index: -1;
}

.reasons__item_image img {
  position: absolute;
  margin: auto;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.reasons__item_content h3 {
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0px;
  color: #1eacc7;
}

/* --------MOBILE.РАЗДЕЛ 4.--------- */
.mobile {
  background: url("../img/mobile_bg.png") center center/cover no-repeat;
  min-height: 864px;
  width: 100%;
  padding: 48px 10px 80px 10px;
}

.mobile__title {
  font-size: 38px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
}

.mobile__subtitle {
  font-size: 17px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  margin-bottom: 30px;
}

.mobile__wrapper {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 20px;
  column-gap: 20px;
  padding: 0 22px;
}

.mobile_item {
  margin: 0 auto;
  max-width: 320px;
  height: 280px;
  width: 100%;
  margin-bottom: 19px;
  padding: 82px 11px 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.mobile_item_subtitle {
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  text-align: center;
  text-transform: uppercase;
}

.mobile_item_plus {
  width: 26px;
  height: 26px;
  background-color: #000000;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.mobile_item_plus:before {
  content: "";
  width: 14px;
  height: 2px;
  background-color: #1eacc7;
  position: absolute;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.mobile_item_plus:after {
  content: "";
  width: 2px;
  height: 14px;
  background-color: #1eacc7;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.mobile_item_plus:hover:after,
.mobile_item_plus:hover:before {
  background-color: #ff5656;
}

.mobile_item-1 {
  background: url("../img/mobile-uber-1.png") center center/cover no-repeat;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  max-width: 320px;
}

.mobile_item-2 {
  background: url("../img/mobile-uber-2.png") center center/cover no-repeat;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  max-width: 320px;
}

.mobile_item-3 {
  background: url("../img/mobile-uber-3.png") center center/cover no-repeat;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  max-width: 320px;
}

.mobile_item-4 {
  background: url("../img/mobile-uber-4.png") center center/cover no-repeat;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  max-width: 320px;
}

.mobile_item-5 {
  background: url("../img/mobile-uber-5.png") center center/cover no-repeat;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  max-width: 320px;
}

.mobile_item-6 {
  background: url("../img/mobile-uber-6.png") center center/cover no-repeat;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  max-width: 320px;
}

.label-light {
  background-color: white;
  color: #070717;
  padding: 6px 0;
}

/* --------CHOICE.РАЗДЕЛ 4.--------- */
.choice {
  background: url("../img/choice.png") center center/cover no-repeat;
}

.choice_car {
  margin: 0 auto;
  padding-top: 57px;
  padding-bottom: 142px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.choice_title {
  font-size: 38px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.choice_subtitle {
  font-size: 17px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 54px;
}

.choice_discription {
  color: #222222;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
}

.choice img {
  display: inline-block;
  max-width: 760px;
  width: 100%;
}

/* --------REQUIRE.РАЗДЕЛ 4.--------- */
.require {
  padding: 68px 0 34px 0;
}

.require__title {
  font-size: 38px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 33px;
}

.require__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.require__item {
  margin-bottom: 60px;
  padding-right: 80px;
}

.require_subtitle {
  color: #1eacc7;
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 13px;
}

.require_list {
  color: #222222;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
  padding-left: 10px;
}

.require_list li {
  margin-bottom: 8px;
  position: relative;
  margin-left: 36px;
}

.require_list li:before {
  content: url(../img/icons/check_blue.png);
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  top: 2px;
  left: -32px;
  z-index: -1;
}

.require_info {
  color: #1eacc7;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
}

.require_subtitle-red {
  color: #ff5656;
}

.require__list-red li:before {
  content: url(../img/icons/check_red.png);
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  top: 2px;
  left: -32px;
  z-index: -1;
}

/* --------LOCATION.РАЗДЕЛ 4.--------- */
.location {
  background: url("../img/world-bg.png") center center/cover no-repeat;
}

.location__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 48px 10px 48px 10px;
  min-height: 716px;
}

.location__title {
  font-size: 38px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.location__subtitle {
  font-size: 17px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}

.location__link a {
  color: #1eacc7;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
}

/* --------FOOTER.РАЗДЕЛ 4.--------- */
.footer__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
  grid-template-columns: 1fr 2fr 1fr;
  justify-items: center;
  padding: 14px 21px 14px 25px;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: start;
  -ms-flex-item-align: center;
  align-self: center;
}

.footer__social_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 5px;
  content: "";
  width: 32px;
  height: 32px;
  background-color: #070716;
  border-radius: 50%;
}

.footer__social_link span {
  color: #ffffff;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__line {
  width: 299px;
  height: 4px;
  background-color: #1eacc7;
  margin-bottom: 32px;
}

.footer__upper-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer__upper-nav li {
  margin-right: 48px;
}

.footer__upper-nav li:last-child {
  margin-right: 0;
}

.footer__upper-nav li a {
  color: #070716;
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
}

.footer__down-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 10px;
}

.footer__down-nav a {
  color: #999999;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
}

.footer__down-nav li {
  margin-right: 24px;
}

.footer__down-nav:last-child {
  margin-right: 0;
}

.footer__language {
  color: #1fbad6;
  font-size: 11px;
  text-transform: uppercase;
}

.footer__store {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: end;
  -ms-flex-item-align: center;
  align-self: center;
}

.footer__app-store {
  content: "";
  width: 94px;
  height: 26px;
  background-color: #070716;
  border-radius: 4px;
  margin-right: 7px;
  content: url(../img/app-store.png);
  size: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.footer__google-store {
  content: "";
  width: 94px;
  height: 26px;
  background-color: #070716;
  border-radius: 4px;
  margin-right: 7px;
  content: url(../img/google-play.png);
  size: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.footer__windows-store {
  content: "";
  width: 94px;
  height: 26px;
  background-color: #070716;
  border-radius: 4px;
  content: url(../img/windows-store-1.png);
  size: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

/* АДАПТИВНОСТЬ САЙТА */
@media (max-width: 991px) {
  .header__menu_link {
    font-size: 12px;
  }
  .header__subheader_logo img {
    width: 100%;
  }
  .header__subheader_text {
    font-size: 12px;
  }
  .header__subheader_phone-number {
    font-size: 18px;
  }
  .header__subheader_phone-number:hover {
    color: #1eacc7;
  }
  .burger {
    display: none;
  }
  .require__item {
    margin: 0 20px 20px;
    padding: 0;
  }
  .promo {
    padding-bottom: 80px;
  }
  .promo_title {
    font-size: 48px;
    line-height: 60px;
  }
  .footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-items: center;
    padding: 14px 21px 14px 25px;
  }
  .footer__social {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    margin-bottom: 20px;
  }
  .footer__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  .footer__language {
    margin-bottom: 20px;
  }
  .footer__store {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .header {
    position: relative;
  }
  .header__menu {
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    padding: 30px 20px;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
  }
  .header__menu-active {
    left: 0;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
  }
  .header__menu_item {
    border: none;
  }
  .header__menu_link {
    font-size: 16px;
  }
  .header .burger {
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 26px;
    height: 12px;
  }
  .header .burger span {
    display: block;
    margin-bottom: 2px;
    height: 2px;
    width: 100%;
    background-color: #fff;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
  }
  .header .burger_active span {
    margin-bottom: -2px;
  }
  .header .burger_active span:nth-child(1) {
    -webkit-transform: translateY(3px) rotate(-45deg);
    transform: translateY(3px) rotate(-45deg);
  }
  .header .burger_active span:nth-child(2) {
    display: none;
  }
  .header .burger_active span:nth-child(3) {
    -webkit-transform: translateY(3px) rotate(45deg);
    transform: translateY(3px) rotate(45deg);
  }
  .header__subheader_logo img {
    max-width: 70%;
  }
  .header__subheader_content {
    margin-right: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
  }
  .header__subheader_call p {
    margin-bottom: 5px;
  }
  .header__subheader_call a {
    max-width: 100%;
    font-size: 14px;
  }
  .promo_title {
    font-size: 44px;
  }
  .promo_subtitle {
    font-size: 24px;
  }
  .promo_discription {
    font-size: 16px;
  }
  .reasons_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0;
  }
  .reasons__item {
    max-width: 90%;
    margin-bottom: 30px;
  }
  .reasons__item:last-child {
    margin-bottom: 0;
  }
  .mobile_item_subtitle {
    font-size: 18px;
  }
}

@media (max-width: 575px) {
  .label {
    margin-bottom: 18px;
  }
  .title {
    font-size: 16px;
    line-height: 16px;
  }
  .header nav {
    height: 32px;
  }
  .header__menu {
    width: 85%;
  }
  .header__subheader {
    height: 62px;
    top: 32px;
    padding: 0 19px 0 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .header__subheader_logo {
    max-width: 100%;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
  .header__subheader_text {
    display: none;
  }
  .header__subheader_call {
    display: none;
  }
  .header__subheader_button {
    width: 110px;
    height: 22px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .header__subheader_button:hover {
    background: -webkit-gradient(
      linear,
      left bottom,
      left top,
      from(#1eacc7),
      to(#4ce2ff)
    );
    background: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
  }
  .header__subheader_button a {
    font-size: 10px;
  }
  .header .tel-hidden {
    display: block;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 5px;
  }
  .promo {
    padding: 140px 0 34px;
    min-height: 400px;
  }
  .promo_title {
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 30px;
    font-weight: bold;
    padding: 0 14px;
  }
  .promo_subtitle {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 73px;
    font-weight: bold;
  }
  .promo_discription {
    display: none;
  }
  .promo_button {
    width: 210px;
    height: 50px;
  }
  .promo_button:hover {
    background: -webkit-gradient(
      linear,
      left bottom,
      left top,
      from(#1eacc7),
      to(#4ce2ff)
    );
    background: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
  }
  .promo_button a {
    font-size: 16px;
  }
  .reasons {
    padding-top: 25px;
  }
  .reasons_wrapper {
    padding: 0 0 38px 0;
    width: 100%;
  }
  .reasons__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 24px;
  }
  .reasons__item_image {
    width: 110px;
    height: 110px;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    margin-bottom: 24px;
    margin-right: 0;
  }
  .reasons__item_content h3 {
    font-size: 16px;
  }
  .reasons__item_content p {
    font-size: 15px;
  }
  .reasons__item_content p:last-child {
    margin-bottom: 0;
  }
  .mobile {
    padding-top: 28px;
    padding-bottom: 43px;
  }
  .mobile__subtitle {
    font-size: 14px;
    margin-bottom: 27px;
  }
  .mobile__wrapper {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    padding: 0;
  }
  .mobile_item {
    max-width: 100%;
    padding: 80px 11px 28px;
    margin-bottom: 30px;
  }
  .mobile_item:last-child {
    margin-bottom: 0;
  }
  .mobile .choice {
    background: url("../img/mobile-black-bg.png") center center/cover no-repeat;
  }
  .mobile .choice .label-light {
    margin-bottom: 36px;
  }
  .mobile .choice_title {
    display: none;
  }
  .mobile .choice_subtitle {
    display: none;
  }
  .mobile .choice_car {
    padding: 25px 23px 31px 23px;
  }
  .mobile .choice_discription {
    color: #fff;
  }
  .mobile .require {
    padding: 25px 0 30px 0;
  }
  .mobile .require__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .mobile .require__item {
    margin: 0 10px 20px;
    padding: 0;
  }
  .mobile .require__item:last-child {
    margin-bottom: 0;
  }
  .mobile .require_subtitle {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .mobile .require_list {
    font-size: 14px;
    padding-left: 0;
  }
  .mobile .require_list li {
    margin-left: 32px;
    margin-bottom: 5px;
    line-height: 16px;
  }
  .mobile .require_info {
    margin: 15px 0;
    font-size: 14px;
    line-height: 14px;
  }
  .mobile .location {
    max-height: 360px;
  }
  .mobile .location__wrapper {
    padding: 26px 0 30px 0;
  }
  .mobile .location__title {
    margin-bottom: 11px;
  }
  .mobile .location__subtitle {
    margin-bottom: 0;
  }
  .mobile .footer__line {
    width: 255px;
    height: 6px;
    margin-bottom: 21px;
  }
  .mobile .footer__wrapper {
    padding-top: 22px;
  }
  .choice {
    background: url("../img/mobile-black-bg.png") center center/cover no-repeat;
  }
  .choice .label-light {
    margin-bottom: 36px;
  }
  .choice_title {
    display: none;
  }
  .choice_subtitle {
    display: none;
  }
  .choice_car {
    padding: 27px 17px 31px 5px;
  }
  .choice_discription {
    color: #fff;
    margin-top: 23px;
  }
  .require {
    padding-top: 24px;
  }
  .require__wrapper {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    margin: 0 16px;
  }
  .require__title {
    margin-bottom: 30px;
  }
  .require__item {
    margin: 0 0 30px 0;
  }
  .require__item:last-child {
    margin-bottom: 0;
  }
  .require_subtitle {
    font-size: 16px;
    margin-bottom: 5px;
  }
  .require_list {
    font-size: 14px;
    margin: 0;
    line-height: 13px;
  }
  .require_list li {
    margin-left: 21px;
  }
  .require_list li::before {
    top: -2px;
  }
  .require_info {
    margin-top: 15px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 14px;
  }
  .location {
    padding: 25px 25px 30px;
    height: 360px;
  }
  .location__wrapper {
    padding: 0;
    min-height: 100%;
  }
  .location__subtitle {
    font-size: 14px;
  }
  .footer {
    padding: 24px 0 30px;
  }
  .footer__line {
    margin-bottom: 21px;
  }
  .footer__wrapper {
    padding: 0;
  }
  .footer__upper-nav {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    font-size: 14px;
    padding: 0 18px;
  }
  .footer__upper-nav li {
    margin-right: 5px;
  }
  .footer__upper-nav li a {
    font-size: 14px;
  }
  .footer__down-nav {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 34px 0 39px;
    margin-bottom: 10px;
  }
  .footer__store {
    width: 260px;
    margin-bottom: 0;
  }
}

@media (min-width: 575px) {
  .tel-hidden {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */
